#affichageHabitation{
    width: 80%;
    margin: 0 auto;
    height: 200px;
    /* border: solid 4px; */
    /* background-color: aqua; */
}
.card{
    margin-top:1%;
    margin-left:1%;
}
.btn.btn-info{
    margin-top:3px;
}
